.CreatePostForm {
    border-bottom: .5px solid rgb(240, 240, 240);
}

.UserInfo {
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

/* ------IMAGE CSS------ */
.ProfilePicContainer {
   height: 60px;
   width: 60px;
}


.ProfilePic {
    
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

/* ------IMAGE CSS------ */

.CPUsernamecontainer {
    margin-left: 15px;

}

.CreatePostUsersName {
    font-weight: bold;
    font-size: larger;

}

.CreatePostUsername {
    font-size: large;

}

.CreatePostBodyContainer {
    height: 100%;
}

.CreatePostBody {
    /* border: none; */
    width: 70%;
    height: 100%;

}

.CreatePostImage {
    margin-top: 10px;
}

.CreatePostButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-bottom: 20px;
}
