.CreatePostContainer_235 {
    /* background-color: brown; */
    height: 80%;


}

.UserInfo {
    text-align: left;
    margin-left: 25px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: row;
    height: 27%;
    /* background-color: rgb(30, 255, 0); */

}

.CreatePostForm {
    /* border-bottom: .5px solid rgb(240, 240, 240); */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 73%;

}


/* ------IMAGE CSS------ */
.ProfilePicContainer {
   height: 60px;
   width: 60px;

}


.ProfilePic {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.ProfilePic:hover {
    /* background-color: rgba(255, 0, 0, 0.498); */
    filter: brightness(90%);

}

/* ------Username CSS------ */

.CPUsernamecontainer {
    margin-left: 15px;

}

.CPUsernameLink:link {
    text-decoration: none;
    color: black;
}

.CPUsernameLink:visited {
    color: black;
}

.CreatePostUsersName {
    font-weight: bold;
    font-size: larger;

}

.CreatePostUsersName:hover {
    text-decoration: underline;
}

.CreatePostUsername {
    font-size: large;

}


/* -------- FORM -----------  */

/* .CreatePostBodyContainer {
    border-bottom: .5px solid;
} */

.CreatePostBody {
    border: none;
    width: 70%;
    height: 50%;
    /* background-color: red; */
    margin-left: -20px;
    font-size: x-large
}

.CreatePostBody::placeholder {
    font-size: x-large;
}

.CreatePostBody:focus, input:focus{
    outline: 0;
}

.PostImgContainer {
    border-top: .5px solid rgb(240, 240, 240);
    /* background-color: blueviolet; */
    display: flex;
    width: 94%;
    position: relative;

}

.CreatePostImage {
    /* margin-top: 20px; */
    margin-left: 78px;
    position: absolute;
    top: 25px;
    width: 60%;
    height: 30px;
    border: 1px solid rgb(202, 202, 202);
    font-size: large;
    border-radius: 10px;
}

/* .CreatePostButton {
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 20px; */
    /* background-color: rgb(255, 0, 204);
}*/


.ActualPostButton {
    margin-top: 20px;
    margin-left: 620px;
    height: 45px;
    width: 90px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
}

.ActualPostButton:hover {
    background-color: rgb(3, 137, 226);
}
