.TwitterBlueButton {
    background-color: rgb(29, 155, 240);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 29px;
    width: 220px;
    height: 40px;
}

.TwitterBlueButton:hover {
    background-color: rgb(3, 137, 226);

}

.WordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.LogoutWord {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.CPM_div {
    display: flex;
    flex-direction: row;
}
