.TweetContainer {
    /* padding: 5%; */
    /* border: .5px solid rgb(240, 240, 240); */
    border-top: .5px solid rgb(240, 240, 240);
    border-bottom: .5px solid rgb(240, 240, 240);
}

.TweetContainer:hover {
    background-color: rgb(240, 240, 240);
}

/* .TweetContainerTopHalf {
    margin: 10px 25px 10px 25px
} */

.TweetUserContainer {
    margin: 15px 10px 25px 10px;
    text-align: left;

}

.TweetUserContainer123 {
    display: flex;
    flex-direction: row;
}

.ImageContainer34 {
    height: 60px;
    width: 60px;
    margin-left: 15px;
}

.TweetUserInfoContainer {
    margin-left: 15px;
}

.TweetName {
    font-weight: bold;
    font-size: large;
}

.TweetUsername {
    font-weight: normal

}

.verifiedCheck {
    margin-right: 10px;
    /* margin-top: 10px; */
}

.TweetLink:link {
    text-decoration: none;
    color: black;
}

.TweetLink:visited {
    text-decoration: none;
    color: black;
}

.TweetBody {
    text-align: left;
    margin-top: 20px;
    font-size: larger;
    margin-left: 20px;
}

.TweetImageContainer {
    width: 100%;
}

.TweetImgTag {
    width: 100%;
}

.TweetBottomBar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;


}

.TweetLikesDiv {
    display: flex;
    flex-direction: row;
}

.NumberofLikes {
    margin-left: 10px;
}

.TweetDeleteButton {
    cursor: pointer;
}
