.EditText_34789 {
    font-weight: 500;
    font-size: large;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.TestMainC {
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    /* background-color: #242D34; */
    /* color: white; */
    box-sizing: border-box;
}

.editProfileModalContainer {
    /* background-color: rgb(250, 238, 10); */
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 99%;
    overflow: hidden scroll;
    position: relative;

}

.editProfileModalContainer::-webkit-scrollbar {
    display: none;
}

.TopBarPM {
    /* background-color: aqua; */
    /* height: 10%; */
    height: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    /* background-color: white; */
}

    .BackButtonPM {
        width: 20%;
    }

    .EditPmTxt {
        width: 60%;
        font-size: x-large;
        font-weight: bold;
    }

    .SaveButtonPM {
        width: 20%;
    }

.BannerPicPM {
    /* background-color: blue; */
    /* height: 50%; */
    height: 50%;

    width: 100%;
}

    .ActualBannerPicPm {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.ContainerWithImagePm {
    height: 100%;
    display: flex;
}

    .ProfilePicPM {
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 20px;
        background-color: rgb(255, 255, 255);
        margin-top: -70px;
    }

    .ActualImagePM {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
    }


.EditPMForm {
    /* background-color: darkgreen; */
    height: 30%;

}

.EditFormButton {
    /* background-color: brown; */
    width: 50px;
}
