.ProfileTopComponentContainer {
    display: flex;
    flex-direction: column;
}

/*----- BANNER IMAGE -----*/
.BannerImg {
    width: 100%;
    height: 150px;
}

.ActualBannerImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*----- PROFILE PIC -----*/
.ProfilePageImageContainer {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}



.ProfilePageProfileImage_392 {
    border-radius: 50%;
    /* object-fit: cover; */
    width: 140px;
    height: 140px;


}

/* ------ PROFILE DETAILS ------- */
.ProfilePageDetails {
    margin-left: 20px;
}

.ProfilePagePlaceBirthJoined {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ProfilePageBottomNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name_9823 {
    font-weight: bold;
    font-size: xx-large;

}

.username_9823 {
    font-size: large;
    color: gray;
}

.ProfilePageBottomNavBar {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
