.ProfileTopComponentContainer {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

/*----- BANNER IMAGE -----*/
.BannerImg {
    width: 100%;
    height: 150px;
}

.ActualBannerImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*----- PROFILE PIC -----*/

.ImageAndEditButton {
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
}

.ProfilePageImageContainer {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}


.ProfilePageProfileImage_392 {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

/*  ---- EDIT BUTTON ---- */

.EditButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 430px;
    border: 1px solid rgb(215, 215, 215);
    /* background-color: chartreuse; */
    border-radius: 50px;
    height: 45px;
    width: 140px;
    margin-top: 115px;
    cursor: pointer;
}

.EditButtonContainer:hover {
    background-color: rgb(215, 215, 215);
}



/* ------ PROFILE DETAILS ------- */
.ProfilePageDetails {
    margin-left: 20px;
    /* background-color: aqua; */
    margin-right: 20px;
}

.ProfilePagePlaceBirthJoined {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Container_93278 {
    display: flex;
    flex-direction: row;
}

.ProfilePageBottomNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name_9823 {
    font-weight: bold;
    font-size: xx-large;

}

.username_9823 {
    font-size: large;
    color: gray;
}

.bio {
    margin-top: 20px;
    font-size: large;
}

.Place {
    margin-left: 5px;
}

.BirthYear {
    margin-left: 5px;
}

.Joined {
    margin-left: 5px;
}

.ProfilePagePlaceBirthJoined {
    margin-top: 15px;
}

.ProfilePageBottomNavBar {
    margin-top: 30px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    height: 50px;
    cursor: pointer;
}

.ProfilePageBottomNavBarTweets {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 500;
}

.ProfilePageBottomNavBarTweets:hover {
    background-color:  rgb(215, 215, 215);
}

.ProfilePageBottomNavBarTweetsAndReplies {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 500;
}

.ProfilePageBottomNavBarTweetsAndReplies:hover {
    background-color:  rgb(215, 215, 215);
}

.ProfilePageBottomNavBarMedia {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 500;
}

.ProfilePageBottomNavBarMedia:hover {
    background-color:  rgb(215, 215, 215);
}


.ProfilePageBottomNavBarLikes {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 500;
}

.ProfilePageBottomNavBarLikes:hover {
    background-color:  rgb(215, 215, 215);
}
