/* .HomePageTitle {
    text-align: center;
} */


.HomePageColumns {
    float: left;

}

.left {
    width: 25%;
}

.right {
    width: 30%;
}

.middle {
    width: 39%;
    border-left: .5px solid rgb(240, 240, 240);
    border-right: .5px solid rgb(240, 240, 240);
}

.HomePageLeft {
    display: flex;
    justify-content: flex-end;
}

.Column2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 60px;
}



.HomePageCenterColumnTitle {
    text-align: left;
    margin-left: 25px;
}

.HomePageCenterColumn {
    text-align: center;

}

.HomePageRightColumn {
    text-align: left;
    margin-left: 30px;
    display: flex;
    flex-direction: row;


}

.HomePageInnerRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
}
