.MainContainer_23089 {
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    /* background-color: #242D34; */
    /* color: white; */
    box-sizing: border-box;
}


.HomePageColumns {
    float: left;
    height: 100%;

}

.BIRDIMGCONTAINER {
    height: 50px;
    width: 50px;
    margin-left: 13px;
    margin-top: 10px;
}

.BIRDIMG {
    height: 100%;
    width: 100%;
}

.left {
    width: 25%;
    height: 100%;
    /* background-color: aquamarine; */

}

.right {
    width: 30%;
    height: 100%;
    /* background-color: darkorange; */
}

.middle {
    width: 37%;
    height: 100%;
    border-left: .5px solid rgb(240, 240, 240);
    border-right: .5px solid rgb(240, 240, 240);
    /* background-color: darkmagenta; */
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;

}

.middle::-webkit-scrollbar {
    display: none;
}


.HomePageLeft {
    display: flex;
    justify-content: flex-end;
    /* height: 100%; */
    /* background-color: blue; */
}

.BottomProfileButtonComponent1 {
    
}

.Column2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 60px;
}

.HomePageCenterColumn {
    text-align: center;
    height: 100%;
    /* background-color: aqua; */
    /* position: relative; */

}

.TopOfHomePageCenterColumn {
    /* background-color: chocolate; */
    height: 30%;
}


.HomePageCenterColumnTitle {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    height: 20%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: x-large;
}


.HomePageCenterColumnFeed {
    height: 80%;
    /* background-color: blueviolet; */
}

.HomePageRightColumn {
    text-align: left;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;
    /* background-color: rgb(0, 232, 240); */
    height: 90%;


}

.HomePageInnerRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    width: 100%;
    /* background-color: rgb(0, 16, 240); */
}
