/* ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;

} */

li {
    list-style: none;
    margin-top: 20px;
}

.NavBarLinks {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.spacerDivNavBar {
    margin-top: 50px;
    margin-bottom: 30px;
}
